.stat-group {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

/* Количество колонок */
.stat-group-columns-1 {
  --columns: 1;
}

.stat-group-columns-2 {
  --columns: 2;
}

.stat-group-columns-3 {
  --columns: 3;
}

.stat-group-columns-4 {
  --columns: 4;
}

/* Отступы */
.stat-group-gap-small {
  gap: var(--spacing-sm);
}

.stat-group-gap-medium {
  gap: var(--spacing-md);
}

.stat-group-gap-large {
  gap: var(--spacing-lg);
}

/* Адаптивность */
@media (max-width: 1200px) {
  .stat-group-columns-4 {
    --columns: 2;
  }
}

@media (max-width: 992px) {
  .stat-group-columns-4 {
    --columns: 2;
  }
}

@media (max-width: 768px) {
  .stat-group-columns-3 {
    --columns: 2;
  }
}

@media (max-width: 576px) {
  .stat-group {
    --columns: 1 !important;
  }
} 